<div class="head1"><%= link_to image_tag("gear.png"),  edit_user_registration_path, :id => 'floatLeft' %><span>TAPPD</span><%= link_to "HOME", beers_path, :class => 'floatRight' %></div>


<center>
<div id ="mylist">
<% if @user.beers.length == 0 %>
  <p>No beers yet.</p>
<% end %>

<% @user.beers.order('created_at DESC').each do |beer| %>

<%= image_tag beer.label unless beer.label.nil? %>
    <p> NAME: <%= beer.name %><br><br>
            ABV:<%= beer.abv %><br><br>
        DESCRIPTION:<br> <%= beer.description %><br><br></p>
  

   
    <p class="beerbrand"><%= link_to("DELETE", beer_path(beer.id), method: :delete, data: {confirm: 'Are you sure?'}) %></p>

<% end %>
</div>
</center>