<nav>
  <%= link_to :back do %>
    <%= image_tag "heartbottle.svg", class: "leftIcon" %>
  <% end %>
  <h1>TAPPD</h1>
</nav>

<main>
  <div id="wrapper">
    <% if @user.beers.length == 0 %>
      <p>No beers yet.</p>
    <% end %>

    <% @user.beers.order('created_at DESC').each do |beer| %>
      <div id="label_small" style="background-image: url(<%= beer.label %>)"></div>
      <%= beer.name %>
      <%= beer.brewery %>
      <%= beer.style %>
      Availability: <%= beer.available %>
      <%= beer.abv %>
      <%= beer.description %>
      
      <p class="beerbrand"><%= link_to("DELETE", beer_path(beer.id), method: :delete, data: {confirm: 'Are you sure?'}) %></p>
    <% end %>
  </div>
</main>