<div class="outline"></div>

<div class="tappd">TAPPD</div>

<p class="mybeers">MY BEERS</p>

<% if @user.beers.length == 0 %>
  <p>No beers yet.</p>
<% end %>

<% @user.beers.order('created_at DESC').each do |beer| %>

    <%= image_tag beer.label unless beer.label.nil? %>

    <p class="beertype">NAME: <%= beer.name %></p>

    <!-- brewery to be added -->

    <p class="beerbrand">STYLE: <%= beer.style %></p>

    <p class="beerbrand">ABV: <%= beer.abv %></p>

    <p class="beerbrand">IBU: <%= beer.ibu %></p>

    <p class="beerbrand">AVAILABILITY: <%= beer.available unless beer.available.nil? %></p>

    <p class="beerbrand">DESCRIPTION: <%= beer.description %></p>

    <p class="beerbrand"><%= link_to("DELETE", beer_path(beer.id), method: :delete, data: {confirm: 'Are you sure?'}) %></p>

<% end %>