<nav>
  <%= link_to edit_user_registration_path do %>
    <%= image_tag "settings.svg", class: "leftIcon" %>
  <% end %>
  <h1>TAPPD</h1>
  <%= link_to beers_path do %>
    <%= image_tag "heart.svg", class: "rightIcon" %>
  <% end %>
</nav>

<main>
  <div id="wrapper">
    <div id="beer">
      <div class="card">
        <div class="label" style="background-image: url(<%= @beer.labels.large %>)">
          <!-- <p class="beer"><%= @beer.description %></p> -->
        </div>
        <div class="beer_info">
          <p class="name"><%= @beer.name %></p>
          <p><%= @beer.breweries[0].name %></p>
          <p><%= @beer.style.name unless @beer.style.nil? %></p>
          <p>Availability: <%= @beer.available.name unless @beer.available.nil? %></p>
          <p>ABV: <%= @beer.abv %></p>
          <p>IBU: <%= @beer.ibu %></p>
        </div>
      </div>
      <div id="buttons">
        <%= button_to "NO THANKS", beers_random_path, method: "get", class: "button dislike" %>

        <%= form_for(@beerLocal, remote: true) do |f| %>
          <%= f.hidden_field :label, value: @beer.labels.medium unless @beer.labels.nil? %>
          <%= f.hidden_field :name, value: @beer.name %>
          <%= f.hidden_field :brewery, value: @beer.breweries[0].name %>
          <%= f.hidden_field :style, value: @beer.style.name unless @beer.style.nil? %>  
          <%= f.hidden_field :abv, value: @beer.abv %>
          <%= f.hidden_field :ibu, value: @beer.ibu %>
          <%= f.hidden_field :available, value: @beer.available.name unless @beer.available.nil? %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :description, value: @beer.description %>
          <%= f.submit value: "LET'S DRINK", class: "button like" %>
        <% end %>
      </div>
    </div>
  </div>  
</main>

<script>
  getLocation()
</script>