<h1>Beers#show</h1>
<p>Find me in app/views/beers/show.html.erb</p>

<p>
  LABEL:
  <% if @beer.labels.nil? %>
    <%= image_tag ("beer-nil.png") %>
  <% else %>
    <%= image_tag @beer.labels.large %>
  <% end %><br />

  NAME: <%= @beer.name %><br />

  <!-- brewery to be added -->

  STYLE: <%= @beer.style.name unless @beer.style.nil? %><br />

  ABV: <%= @beer.abv %><br />

  IBU: <%= @beer.ibu %><br />

  AVAILABILITY: <%= @beer.available.name unless @beer.available.nil? %><br />

  DESCRIPTION: <%= @beer.description %><br />
</p>

<%= button_to "NO THANKS", beers_path, { method: "get" } %>

      <!-- , :url => "/beers" -->

<%= form_for(@beerLocal, remote: true) do |f| %>
  <%= f.hidden_field :label, value: @beer.labels.medium unless @beer.labels.nil? %> 
  <%= f.hidden_field :name, value: @beer.name %>
  <!-- brewery to be added -->
  <%= f.hidden_field :style, value: @beer.style.name unless @beer.style.nil? %>  
  <%= f.hidden_field :abv, value: @beer.abv %>
  <%= f.hidden_field :ibu, value: @beer.ibu %>
  <%= f.hidden_field :available, value: @beer.available.name unless @beer.available.nil? %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :description, value: @beer.description %>
  <%= f.submit value: "LET'S DRINK", class: "button" %>
<% end %>

<p>Temp Info</p>
<p id="demo">Coordinates</p>

<script>
  getLocation();
</script>